
@{
    ViewData["Title"] = "Testando - ASP .NET Core MVC";
    Layout = "~/Views/Shared/_LayoutIES.cshtml";
}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item-active">
            <img class="mx-auto d-block w-50" src="~/images/0.jpg" alt="Diogo Zimmermann" />
        </div>
        <div class="carousel-item">
            <img class="mx-auto d-block w-75" src="~/images/ícone.png" alt="Noveland" />
        </div>
        <div class="carousel-item">
            <img class="mx-auto d-block w-75" src="~/images/university.png" alt="Universidades" />
        </div>
    </div>
</div>
